<div class="card-box">
    <div class="welcome-image-container">
        <img src="/assets/view-moods.svg" class="welcome-image" alt="Welcome Image">
    </div>
    <NavLink href="/view-mood" style="text-decoration: none; color: inherit;">
    View all moods
    </NavLink>
</div>