<div class="card-box">
    <NavLink href="/create-mood" style="text-decoration: none; color: inherit;">
    <div class="welcome-image-container">
        <img src="/assets/add-mood.svg" class="welcome-image" alt="Welcome Image">
    </div>
    Add an entry
    </NavLink>
</div>