<style>
    .stats-box {
        width: 250px;
        background-color: #289686;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: max-content;
        border-radius: 20px;
    }

    .stats-item-box {
        border-radius: 20px;
        padding: 15px;
        background-color: #44ad88;
    }
</style>

<div class="stats-box">
    <h3>Navigation</h3>
    <br />
    <p class="stats-item-box"> <a style="text-decoration: none; color: white" href="/statistics"> Statistics </a> </p>
    <p class="stats-item-box"> Maya the bot </p>
    <p class="stats-item-box"> <a style="text-decoration: none; color: white" href="/community">  Community  </a> </p>
    <p class="stats-item-box"> Resources </p>
    <p class="stats-item-box"> <a style="text-decoration: none; color: white" href="/account"> Account </a> </p>
</div>