@inject IHttpClientFactory HttpClientFactory

<div class="card-box">
    @if(data != null)
    {
        @data.Message
    } else
    {
        <p>Loading...</p>
    }
</div>


@code {

    [Parameter]
    public Thoughts? data { get; set; }
}