@page "/"

<div class="main-page">
    <Navbar />
<div class="welcome-container">
    <div class="welcome-text">
        <h1>Welcome to Pacify!</h1>
        <p>Your mental wellbeing companion.</p>
        <button type="submit" class="login-button">Get Started</button>
    </div>
</div>
</div>

@code {

}