<div class="navbar">
    Pacify
    <AuthorizeView>
        <Authorized>
            Hey, @context.User.Identity?.Name 
        </Authorized>
        <NotAuthorized>
            <div class="login-navbar">
                <a href="/MicrosoftIdentity/Account/SignIn">Login</a>

              </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

}
